[data-char='character'] {
  color: #754e24;
}
.character-info {
  color: white;
}
.color-1 {
  color: #C79C6E;
}
.color-2 {
  color: #F58CBA;
}
.color-3 {
  color: #ABD473;
}
.color-4 {
  color: #FFF569;
}
.color-5 {
  color: #FFFFFF;
}
.color-6 {
  color: #C41F3B;
}
.color-7 {
  color: #0070DE;
}
.color-8 {
  color: #69CCF0;
}
.color-9 {
  color: #9482C9;
}
.color-10 {
  color: #00FF96;
}
.color-11 {
  color: #FF7D0A;
}
#search-result-title {
  color: #7E3406;
}
#search-name {
  color: #FEF092;
}
.items {
  display: inline-block;
}
.itemInfo {
  position: absolute;
  display: none;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  border: 1px solid grey;
  border-radius:4px;
}
a:hover + .itemInfo {
    display: inline-block;
}
.info {
  padding: 5px;
}
.info p {
  font-size: 12px;
  margin: 3px;
  padding: 0px;
}
.infoColor {
  color: white;
}
#inventoryType {
  color: white;
  font-size: 12px;
  margin-left: 3px;
  display: inline-block;
}
#subClass {
  color: white;
  font-size: 12px;
}
#stats {
  font-size: 12px;
  color: #efc9a0;
  padding: 0px !important;
}
#stats h5 {
  color: white;
}
.attr {
  color: white;
  float: right;
}
.statsBar {
  display: inline-block;
  width: 15%;
  border: 1px solid;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #000;
  color: white;
}
.statsBar p {
  margin: 0;
  padding-left: 15px;
}
#healthBar {
  background-color: #248000;
}
#ManaBar {
  background-color: #1c8aff;
}
#EnergyBar {
  background-color: #cb9501;
}
#Runic-powerBar {
  background-color: #00accb;
}
#FocusBar {
  background-color: #964414;
}
#RageBar {
  background-color: #ab0000;
}