[data-quality] {
  border: 3px solid;
  border-radius: 4px;
}
[data-quality='0'] {
  border-color: #9d9d9d;
}
[data-quality='1'] {
  border-color: #FFF;
}
[data-quality='2'] {
  border-color: #1eff00;
}
[data-quality='3'] {
  border-color: #0070ff;
}
[data-quality='4'] {
  border-color: #a335ee;
}
[data-quality='5'] {
  border-color: #ff8000;
}
[data-quality='6'] {
  border-color: #E5CC80;
}
[data-quality='7'] {
  border-color: #E5CC80;
}
[data-quality-title='0'] {
  color: #9d9d9d;
}
[data-quality-title='1'] {
  color: #FFF;
}
[data-quality-title='2'] {
  color: #1eff00;
}
[data-quality-title='3'] {
  color: #0070ff;
}
[data-quality-title='4'] {
  color: #a335ee;
}
[data-quality-title='5'] {
  color: #ff8000;
}
[data-quality-title='6'] {
  color: #E5CC80;
}
[data-quality-title='7'] {
  color: #E5CC80;
}
.itemLevel {
  color: #ffd100;
}
[data-stat] {
  color: #00ff00;
}
[data-stat='3'] {
  color: black;
}
[data-stat='4'] {
  color: black;
}
[data-stat='5'] {
  color: black;
}
[data-stat='6'] {
  color: black;
}
[data-stat='7'] {
  color: black;
}
[data-stat='71'] {
  color: black;
}
[data-stat='72'] {
  color: black;
}
[data-stat='73'] {
  color: black;
}
[data-stat='74'] {
  color: black;
}