table, th, tr {
  border: 1px solid #391303 !important;
  border-spacing: 0 !important;
}
th {
  background-color: #7c2804 !important;
}
th a {
  color: white !important;
}
tr:nth-of-type(even) {
  background-color: #2b1507 !important;
}
tr:nth-of-type(odd) {
  background-color: #231207 !important;
}
#realm-name {
  width: 50%;
}
#realm-type {
  width: 5%;
}
#realm-population {
  width: 15%
}
.low {
  color: #3c3;
}
.medium {
  color: #ebdba2;
}
.high {
  color: #C33;
}
.pve {
  color: #ebdba2;
}
.pvp {
  color: #C33;
}
.rp {
  color: #3c3;
}
.rppvp {
  color: #ebdba2;
}
.status-true {
  background:url(http://us.battle.net/wow/static/images/icons/status.gif) 0 0 no-repeat; margin:0 auto; height:28px; width:27px;
  background-position:-110px 0;
}
.status-false {
  background:url(http://us.battle.net/wow/static/images/icons/status.gif) 0 0 no-repeat; margin:0 auto; height:28px; width:27px;
  background-position:0 0;
}