<div class = 'small-9 small-centered columns'>
  <img ng-src = "{{ imgBaseUrl }}/{{ character.thumbnail }}"/><span class = 'color-{{character.class}}'>{{ character.name }}</span><br>
  {{ character.level }} {{ race[character.race] }} {{ class[character.class] }}<br>
  {{ character.realm }}<br>
  Item level: {{ character.items.averageItemLevel }}<br>
  Achievement point: {{ character.achievementPoints }}<br>
  <div ng-repeat = 'item in items' class = 'small-1 columns' ng-if = 'hasItem(item)'>
    <a href = '#/item/{{ character.items[item].id }}/{{ character.items[item].context }}'><img ng-src = "{{ itemBaseUrl }}/{{ character.items[item].icon }}.jpg" data-quality = '{{ character.items[item].quality }}'/></a>
    <div class = 'itemInfo'>
      <div class = 'info'>
        <h5 data-quality-title = '{{ character.items[item].quality }}'>{{ character.items[item].name }}</h5>
      </div>
    </div>
  </div>
</div>