<h2 data-quality-title = '{{ item.quality }}'>{{ item.name }}</h2>
<div class = 'small-6 columns'>
  <img ng-src = 'http://media.blizzard.com/wow/icons/56/{{ item.icon }}.jpg' />
  <div class = 'small-4 columns'>
    <p style = 'color: #00ff00' ng-if = 'hasNameDescription(item)'>{{ item.nameDescription }}</p>
    <p class = 'itemLevel'>Item Level {{ item.itemLevel }}</p>
    <p ng-if = 'itemBind[item.itemBind]'>{{ itemBind[item.itemBind] }}</p>
    <span>{{ inventoryType[item.inventoryType] }}</span>
    <span>{{ itemSubClass }}</span>
    <p ng-if = 'item.armor'>{{ item.armor }} Armor</p>
    <p ng-repeat = "stats in item.bonusStats | orderBy:predicate" data-stat = '{{ stats.stat }}'>+{{ stats.amount }} {{ itemStats[stats.stat] }}</p>
    <p ng-if = 'item.maxDurability'>Durability {{ item.maxDurability }}/{{ item.maxDurability }}</p>
    <p ng-if = 'item.allowableClasses'>Classes: <span ng-repeat = 'class in item.allowableClasses' class = 'color-{{ class }}'>{{ classes[class] }}<span ng-if = 'isLast(class, item.allowableClasses)'>, </span></span></p>
    <p ng-if = 'item.allowableRaces'>Races: <span ng-repeat = "race in item.allowableRaces | unique"><span>{{ races[race] }}<span ng-if = 'isLast(race, item.allowableRaces)'>, </span></span></p>
    <p ng-if = 'item.requiredLevel > 0'>Requires Level {{ item.requiredLevel }}</p>
    <p ng-if = 'item.sellPrice > 0'>Sell Price: <span ng-repeat = '(currency, price) in sellPrice' ng-if = 'price' class = 'icon-{{ currency }}'>{{ price }}</span></p>
  </div>
</div>