<h2>Realm status</h2>
<div class ='realm-table'>
  <table>
    <tr>
      <th id = 'realm-status'><a href = '' ng-click="order = 'status'; reverse = !reverse"> Status </a></th>
      <th id = 'realm-name'><a href = '' ng-click="order = 'name'; reverse = !reverse"> Realm Name </a></th>
      <th id = 'realm-type'><a href = '' ng-click="order = 'type'; reverse = !reverse"> Type </a></th>
      <th id = 'realm-population'><a href = '' ng-click="order = 'population'; reverse = !reverse"> Population </a></th>
      <th id = 'realm-locale'><a href = '' ng-click="order = 'locale'; reverse = !reverse"> Locale </a></th>
      <th id = 'realm-queue'><a href = '' ng-click="order = 'queue'; reverse = !reverse"> Queue </a></th>
    </tr>
    <tr ng-repeat = "realm in realms | orderBy:order:reverse">
      <td><div class = "status-{{ realm.status }}"></div></td>
      <td style = 'color:white;'>{{ realm.name }}</td>
      <td class = "{{ realm.type }}">({{ realm.type }})</td>
      <td class = "{{ realm.population }}">{{ realm.population }}</td>
      <td style = 'color:white;'>{{ locale[realm.locale] }}</td>
      <td><p ng-if = "realm.queue === 'true'">{{ realm.queue }}</p></td>
    </tr>
  </table>
</div>